
.body_container{
    text-align: center;
    width: 100%;
    height:auto;
    position: center;
    margin:0 auto;
    background-color: transparent;
    font-family:OCR A Std, monospace;
    display: flex;
    padding-top: 25px;
    padding-left: 5px;
  }


.table_format{
    border-spacing: 10px 0;
    border-collapse: collapse;
    height: auto;
    margin-left: 100px;
    border-color: black;
    border-style: double;
    border-width: 5px;
    padding: 5px;
    width: 50vw;
}

.table_format thead{
  border-bottom: 1px solid black;
}

.table_format thead tr{ /*Este div controla todo el header de la tabla*/
  background: rgb(207, 203, 203);
  background-repeat: no-repeat;
}

.table_format thead th{ /*Este div controla los titulkos individuales*/
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: min-content;
}

.table_format tbody td{ /*Este controla cada columna individualmente*/
    background-color: transparent;
    padding: 10px;
}

.table_format tbody tr:nth-child(even){
  background: transparent
}

.table_format tbody tr:nth-child(odd){
  background: transparent
}

.PreviewContainer{
  width: auto;
  height: auto;
  padding: 5%;
}