@keyframes background-pan {
  from{
    background-position:0% center;
  }
  to{
    background-position: -200% center;
  }
}

.title_container{
    width: auto;
    height: auto;
    display: flex;
    font-size: 2vw;
    font-family: Papyrus,fantasy;
    color: white;
    background-color: black;
    padding-left: 10px;
  }





