.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.parent_portrait{
  width: auto;
  height: 70px;
  display: flex;
  background: black;
  background-color: black;
  font-size: 50px;
  font-family: Papyrus,fantasy;
  color: white;
}

.centered_parent{
  text-align: center;
  width: 50%;
  margin:auto;
  background: transparent;
  font-family:OCR A Std, monospace;
  
}


.caracteristica_input{
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
}
.stat_name{
  width: 70px;
}

.caracteritstica_total{
  display: flex;
  justify-content: space-between;
}

.box_modificador{
  padding-left: 10px;
  margin: 3px;
}

.box_puntosDisponibles{
  width: 40px;
}

.imagen_backgorund{
  background-image: url(/src/images/canvas.png);
  width: 1000px;

}

.table_format{
  border-spacing: 15px;
}


.stat_name{
  text-align: left;
}


.prueba{
  font-family: OCR A Std, monospace;
}